extends layout 
head
    block style
        link(href='/css/party.css', rel='stylesheet')
block content
    h1 #{partyName}'s Party
    .add-btn
        button(onclick="showAllReceiver(#{guestCount})") Show All
    .add-btn
        button(onclick="generateReceiver(#{partyId})") Regenerate
    .container
        each guest, index in guests
            .col1 #{guest}
            .col2 ------->
            .col3
                button(id="b_#{index}" onclick="toggleReceiver(#{index})") Show
                span(id="r_#{index}").hide #{receiver[index]}




        
